 body{
  font-family: 'Signika', sans-serif;
  margin: 0px;
  
}

a{
  text-decoration: none;
}

.title{
  margin: 10px 0px 15px 0px !important;
  font-weight: 800 !important;
  font-size: 1.5rem;
}

.mt-3{
  margin-top: 15px
}

#drawer{
  background: #d7daf7;;
}

h5{
  font-weight: bold;
}
